@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-principal: rgb(24, 105, 119);
}

body{
    font-family: "Inter", sans-serif;
    background-image: url(../public/assets/paisagem-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    backdrop-filter: blur(4px);
}

#root{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}